<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Billing & Recurring Payment System, <%= @user.name %></h1>
    <p>
      Congrats! You successfully subscribe
      <br>
      your have total charge of amount: <%= @transaction.subscription.plan.monthly_fee %>.
    </p>
    <p>Thanks for using our subscription and have a great day!  </p>
  </body>
</html>
