<h1>Users </h1>
<table class='table table-hover'>
  <thead>
    <tr>
      <th scope='col'>User Id</th>
      <th scope='col'>Name</th>
      <th scope='col'>Email</th>
      <th scope='col'>Admin Status</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'users', collection: @users %>
  </tbody>
</table>
<br>
<%= link_to 'Invite New User' , new_user_invitation_path, class:'btn btn-info mb-3' %>
<br>
<%= link_to 'Back', :back %>


