<h1>Usage Details</h1>
<table class='table table-hover'>
  <thead>
    <tr>
      <th scope='col'>Subscription Id</th>
      <th scope='col'>Max Unit Limit</th>
      <th scope='col'>Used Unit</th>
      <th scope='col'>Feature id</th>
      <th scope='col'>Plan id</th>
      <th scope='col'>Enter Mannual Usage</th>
    </tr>
  </thead>
  <tbody>
     <%= render partial: 'usage', collection: @usages %>
  </tbody>
</table>