<h1 class='m-3'>Welcome to Billing & Recurring Payment System v2.0</h1>
<nav class='m-3'>
  <% if current_user.admin? %>
    <%= link_to 'Users', users_path, class: 'btn btn-info' %> |
  <% end %>
  <% if user_signed_in? %>
    <%= link_to 'logout', destroy_user_session_path, method: :delete, class: 'btn btn-info' %> |
    <%= link_to 'Profile', user_path(current_user.id), class: 'btn btn-info' %> 
  <% end %>
</nav>

