<h1>Subscriptions</h1>
<table class='table table-hover'>
  <thead>
    <tr>
      <th scope='col'>Subscription Id</th>
      <th scope='col'>Plan Id</th>
      <th scope='col'>Date</th>
      <th scope='col'>Status</th>
      <% if current_user.buyer? %>
        <th scope='col'>Usage Info</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'subscription', collection: @subscriptions %>
  </tbody>
</table>
<%= link_to 'Back', :back %>